body {
    font-family: Arial, sans-serif;
    background-color: #b0ee07;
    padding: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    background-color: rgb(84, 185, 185);
    ;
}

th, td {
    border: 1px solid #f1f1f1;
    padding: 20px;
    text-align: center;
}

thead {
    background-color: #5b8ab4;
    color: rgb(95, 19, 19);
}

