* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #3f4142;
    padding: 15px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 220px;
}
.logo img {
    height: 30px;
    width: auto;
        display: flex;
}
.navbar a {
    color: rgb(249, 255, 205);
    text-decoration: none;
    font-size: 18px;
}
.navbar a:hover {
    text-decoration: underline;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    width: 100%;
    flex: 1;
}


.box {
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.box1 {
    background-color: #8512ab;
    flex: 2;
    h1 { color: #ffeb3b; }
    
}
.box2 {
    background-color: #3498db;
    flex: 2;
    h1 { color: #ffd2f6; }
}

.box3 {
    background-color: #180e43;
    flex: 2;
    h1 { color: #b2ff59; }
}

.footer {
    background-color: #1f1c1c;
    color: white;
    text-align: center;
    padding: 10px;
}
